body {
  background-image: url(../img/background.jpg);
  background-repeat: repeat-y;
}

a {color: #3366ff;}
a:visited {color: #cc66cc;}
a:active {color: #33ccff;}

.center {text-align: center;}
.img {border:  0;}
.main-navigation-table
{ 
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #000000;
  border: 0;
}
.main-navigation-link {font-weight: bold;}

.title1
{
  color: #3366ff;
  font-size: 24px;
}

.title2
{
  color: #cc0000;
  font-size: 24px;
}  

.title3
{
  color: #006600;
  font-size: 24px;
}

.title-nav
{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.navigation
{ 
  width: 100%;
  border: 0;
}

.page-col1
{ 
  width: 25%;
  vertical-align: top;
  font-weight: bold;
}

.page-col2
{ 
  width: 75%;
  vertical-align: top;
}       

h1
{
  font-size: 14px;
  color: #3333ff;
}

h2
{
  font-size: 12px;
  font-weight: bold;
}

.footer
{
  width: 100%;
  border: 0;
  background-color: #99ff99;
  text-align: center;
  font-size: 9px;
}